DirectoryIndex index.php
# Bảo vệ file config
<FilesMatch "^\.env|config\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Enable rewrite engine
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Secure headers
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "SAMEORIGIN" 